.header{
    width: auto;
    margin: 2em;
}

.header_line_group{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.blue_text{
	color: blue;
}

.purple_text{
	color: purple;
}

.box_sizing{
	margin: auto;
    width: 75%;
    padding: 2em;
}

.form_box{
    margin: auto;
    width: 60%;
    padding: 2em;
}

.border{
	border: 25px solid red;
}

.display_flex{
    display: flex;
    justify-content: space-around;
}